{{ nullmailer_host }} smtp{{ ' --port=' + nullmailer_port | string if nullmailer_port | default(False) else '' }}{{ ' --user=' + nullmailer_username if nullmailer_username | default(False) else '' }}{{ ' --pass=' + nullmailer_password if nullmailer_password | default(False) else '' }}{{ ' --auth-login' if nullmailer_auth_login else '' }}{{ ' --starttls' if nullmailer_tls else '' }}{{ ' --ssl' if nullmailer_ssl else '' }}
