{{ nullmailer_host }} smtp --port={{ nullmailer_port }} --user={{ nullmailer_username }} --pass={{ nullmailer_password }}{% if nullmailer_starttls | default(False) %} --starttls{% endif %}{% if nullmailer_tls | default(False) %} --tls{% endif %}{% if nullmailer_ssl | default(False) %} --ssl{% endif %}
