{{ nullmailer_host }} smtp --port={{ nullmailer_port }} --user={{ nullmailer_username }} --pass={{ nullmailer_password }}{% if nullmailer_tls %} --starttls{% endif %}{% if nullmailer_ssl %} --ssl{% endif %}
